<form action="/signup" method="post">
  <p>Login</p><input type="text" size="30" name="user[login]" />
  <p>Email</p><input type="text" size="30" name="user[email]" />
  <p>Password</p><input type="password" size="30" name="user[password]" />
  <br/>
  <input type="submit" value="Submit" name="submit"/>
</form>
